Break/bin
Break/obj

Break.Core/bin
Break.Core/obj

Break.Services.Windows/bin
Break.Services.Windows/obj

Break.Services.Linux/bin
Break.Services.Linux/obj

*.csproj.user
*.suo
*.cache
*.bak
*.log
*.swp
*.user

*.mdf
*.ldf

Thumbs.db