<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Microsoft Windows Version of Services Settings -->
    <add key="ServicesAssemblyName" value="Break.Services.Windows"/>
    <add key="SoundPlayerType" value="Break.Services.SoundPlayer" />
    <add key="SystemUseServiceType" value="Break.Services.SystemUseService"/>

    <!-- Linux Version of Services Settings -->
    <!--<add key="ServicesAssemblyName" value="Break.Services.Linux"/>
        <add key="SoundPlayerType" value="Break.Services.SoundPlayer" />
        <add key="SystemUseServiceType" value="Break.Services.SystemUseService"/>-->
  </appSettings>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Break.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Break.Properties.Settings>
      <setting name="TimerIntervalMilliseconds" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="BreakSoundFile" serializeAs="String">
        <value />
      </setting>
      <setting name="UseCustomSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BreakDurationMinutes" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="WorkDurationMinutes" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="LoggerEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </Break.Properties.Settings>
  </userSettings>
</configuration>